.header {
 display: none !important;
}
.aside {
 display: block !important;
 visibility: visible !important;
 top: 0px !important;
 border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
 padding-left: 20px !important;
 padding-bottom: 100% !important;
 width: 30% !important;
}
.message-input {
 height: initial !important;
}
html {
 font-size: 14px !important
}
